<div class="container p-5">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-primary">Registro</h2>
    <h3 class="text-secondary h5 mt-2">Tipo de usuario</h3>
    <div class="tipo-usuario-container">
        <button class="btn btn-primary tipo-usuario" routerLink="paciente">Paciente</button>
        <button class="btn btn-success tipo-usuario" routerLink="especialista">Especialista</button>
    </div>
    <router-outlet></router-outlet>
    <span class="mt-4">
      ¿Ya estas registrado?
      <a routerLink="/login">Iniciá sesión</a>
    </span>
  </div>
</div>
