.selected {
  border: 2px solid green;  // Add your desired styles here\
  opacity: 0.8;
}


/* Add this style to your component's stylesheet or a global stylesheet */
.disabled {
  pointer-events: none;
  opacity: 0.5; /* or any other styling for a disabled look */
}
