<body class="d-flex align-items-center h-100 text-center">
  <div class="cover-container d-flex p-3 mx-auto flex-column">
    <main class="px-3">
      <h1 class="text-primary">Clinica Online</h1>
       <p class="lead">
        La clínica, especialista en salud, cuenta actualmente con consultorios (6 en la actualidad),
        dos laboratorios (físicos en la clínica), y una sala de espera general. Está abierta al público de lunes a
        viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.
      </p>
      <p class="lead">
        <a
          (click)="Navigate('registro')"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white me-5"
          >Registro</a
        >
        <a
        (click)="Navigate('login')"
        class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Iniciar Sesion</a
        >
      </p>
    </main>
  </div>
</body>
