<body class="d-flex align-items-center h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>Clinica Online.</h1>
      <!-- <p class="lead">
        Cover is a one-page template for building simple and beautiful home
        pages. Download, edit the text, and add your own fullscreen background
        photo to make it your own.
      </p> -->
      <p class="lead">
        <a
          (click)="Navigate('registro')"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white me-5"
          >Registro</a
        >
        <a
        (click)="Navigate('login')"
        class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Iniciar Sesion</a
        >
      </p>
    </main>
  </div>
</body>
