<div class="dropdown">
  <button type="button" class="btn btn-link btn-sm btn-rounded dropdown-toggle hidden-arrow" data-bs-toggle="dropdown">
    <i class="fas fa-cog fa-2x"></i>
  </button>
    <ul class="dropdown-menu">
      <li *ngIf="this.turno.estado == 'Solicitado' || (this.usuarioLogeado.rol == 'paciente' && this.turno.estado != 'Finalizado' && this.turno.estado != 'Cancelado')">
        <a (click)="cambiarEstadoTurno('Cancelado')" class="dropdown-item text-danger">Cancelar turno</a>
      </li>
      <li *ngIf="this.turno.estado == 'Solicitado' && this.usuarioLogeado.rol == 'especialista'">
        <a (click)="cambiarEstadoTurno('Rechazado')" class="dropdown-item text-danger">Rechazar turno</a>
      </li>
      <li *ngIf="this.turno.estado == 'Solicitado' && this.usuarioLogeado.rol == 'especialista'">
        <a (click)="cambiarEstadoTurno('Aceptado')" class="dropdown-item text-success">Aceptar turno</a>
      </li>
      <li *ngIf="this.turno.estado == 'Aceptado' && this.usuarioLogeado.rol == 'especialista'">
        <a (click)="cambiarEstadoTurno('Finalizado')" class="dropdown-item text-danger">Finalizar turno</a>
      </li>
      <li (click)="calificarAtencion()" *ngIf="this.turno.estado == 'Finalizado' && this.usuarioLogeado.rol == 'paciente' && this.turno.resenia">
        <a class="dropdown-item text-primary">Completar encuesta</a>
      </li>
      <li (click)="calificarAtencion()" *ngIf="this.turno.estado == 'Finalizado' && this.usuarioLogeado.rol == 'paciente' && this.turno.resenia">
        <a class="dropdown-item text-primary">Calificar Atención</a>
      </li>
      <li>
        <a *ngIf="this.turno.resenia && this.usuarioLogeado.rol != 'admin'" (click)="verResenia()"  class="dropdown-item text-primary">Ver reseña</a>
      </li>
    </ul>
</div>
